<p class="notice"><%= notice %></p>

<h2>Users</h2>

<table class="site-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td class="small-column"><%= link_to 'Show', user %></td>
        <td class="small-column"><%= link_to 'Edit', edit_user_path(user) %></td>
        <td class="small-column"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: "button-main" %>
<%= link_to 'Microposts', microposts_path, class: "button-main" %>
