// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  margin: 2em 0;
}

label {
 @extend .button
}

input[type=text],
input[type=number],
textarea {
  padding: 1em;
  border: .2em solid $dark-color;
  font-family: $site-font;
}

textarea {
  width: 30em;
  height: 10em;
}
	
input[type=number] {
  width: 3em;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  font-weight: 700;
  letter-spacing: 1px;
}

.button-main {
  @extend .button;
  padding: 1em;
  background-color: $primary-color;
  color: $light-color;

  &:hover {
    color: $light-color;
    background-color: $secondary-color;
  }
}

.field,
.button-actions {
  padding: .5em;
}

.button-actions {
  input[type=submit] {
    @extend .button;
    padding: 1em;
    background-color: $secondary-color;
    border: 0;
    cursor: pointer;
  }
}

.field_with_errors {
  padding: .5em;
  background-color: $primary-color;
  display: table;
}

.error_explanation {
  border: .5em solid $primary-color;
  margin: .5em .5em 2em;
  background-color: $light-color;

  h2 {
    margin: 0;
    padding: .5em;
    font-size: .8em;
    font-weight: 700;
    color: $dark-color;
    background-color: $primary-color;
  }

  ul li {
    font-size: .8em;
    list-style: square;
  }
}


.notice {
  color: $secondary-color;
  font-weight: 700;
}

