// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.site-table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: .2em solid $dark-color;
  }

  th {
    text-align: left;
  }

  th, td {
    box-sizing: border-box;
    padding: 1em;
    word-wrap: break-word;
  }

  a {
    @extend .button;
  }
}

.small-column {
  width: 3em;
  text-align: center;
}

