<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>RailsToyApp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
        <!-- Place favicon.ico in the root directory -->

        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700,900" rel="stylesheet"> 
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <header class="site-header">
          <h1><%= link_to "Meower", root_path, class: "site-title" %></h1>
          <h2 class="site-subtitle">What's happening?</h2>
        </header>

        <div class="wrapper">
        <%= yield %>
        </div>

        <footer class="site-footer">
           Meower &copy; 2016
        </footer>

        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    </body>
</html>

